{% extends 'base.html.twig' %}



{% block body %}

    <div class="container" style="padding-top: 150px">
        <div class="row">


            <div class="col-md-6">
                <img class="pb-3" src="{{ asset
                    ('/img/tableau/' ~ riri.image) }}" alt="{{ riri.titre }}"
                     style="width: 300px;height: 200px"/>

                <div>

                        <div class="btn btn-primary mt-5 mb-5" type="button"
                             data-bs-toggle="collapse"
                             data-bs-target="#collapseComment"
                             aria-expanded="false"
                             aria-controls="collapseComment">
                            Voir les commentaires
                        </div>


                    <div class="collapse" id="collapseComment">
                    <div class="card shadow-0 border w-75"
                         style="background-color: #f0f2f5;">
                        <div class="text-center pt-3">
                            {% set count = 0 %}
                            {% for comment in comments %}
                                {% set count = count + 1 %}
                            {% endfor %}
                            {% if count == 0 %}
                                <p class="fs-3">il n'y a pas encore de
                                    commentaire pour cette
                                    oeuvre</p>
                            {% elseif count > 1 %}
                                <p class="fs-3">nombre de
                                    commentaires: {{ count }}</p>
                            {% else %}
                                <p class="fs-3">nombre de
                                    commentaire: {{ count }}</p>
                            {% endif %}
                        </div>
                        {% for comment in comments %}
                            <div class="card-body p-4">


                                <div class="card mb-4">
                                    <div class="card-body">
                                        <p class="fs-6">{{ comment.name }}
                                            &ensp;&ensp;
                                            publié le:&nbsp; {{ comment.createdAt|date
                                                ('d/m/Y') }}</p>

                                        {{ comment.comment }}


                                    </div>
                                </div>


                            </div>
                        {% endfor %}
                    </div>
                </div>

                </div>
            </div>

            <div class="col-md-6 ps-5">

                <h3 class="display-7 text-center text-black-50">{{ riri.titre|upper }}</h3>

                <p class="lead text-center">
                    Descrition de l'oeuvre</p>
                <p class="text-justify"></p>
                {{ riri.description|capitalize }}</p>
                <div class="text-center">
                    <div class="btn btn-primary mt-5" type="button"
                         data-bs-toggle="collapse"
                         data-bs-target="#collapseExample" aria-expanded="false"
                         aria-controls="collapseExample">
                        Ajouter un commentaire
                    </div>
                </div>
                <div class="collapse" id="collapseExample">
                    <div class=" container-fluid mt-4 p-3 w-80"
                         style="background-color:  #f0f2f5">
                        {{ form(form) }}
                    </div>
                </div>

                <div>


                </div>
            </div>

        </div>
    </div>

{% endblock %}
