{% extends 'base.html.twig' %}

{% block body %}


    <section id="1">

        <div id="carouselExampleControls" class="carousel slide carousel-fade"
             data-bs-ride="carousel">

            <div class="carousel-inner">

                <div class="carousel-item active" data-bs-interval="10000">

                    <img sizes="w" src="{{ asset
                        ('../../img/brand6.jpeg') }}"
                         class="d-block w-100" alt="..." style="height:350px">
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <img src="{{ asset
                        ('../../img/brand7.jpg') }}"
                         class="d-block w-100" alt="..." style="height: 350px">
                </div>
                <div class="carousel-item " data-bs-interval="10000">
                    <img src="{{ asset
                        ('../../img/brand5.jpg') }}"
                         class="d-block w-100" alt="..." style="height: 350px">
                </div>

            </div>


        </div>

    </section>

    <div class="container">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row justify-content-center align-items-center ">
            <div class="col-md-12 controls-filter pt-5 text-center">
                <ul>
                    <!-- For filtering controls add -->
                    <li data-filter="all" class="btn btn-outline-primary"> All
                        items
                    </li>
                    {% for categorie in categories %}
                        <li data-filter="{{ categorie.id }}" class="btn
                        btn-outline-primary">{{ categorie.name }} </li>
                    {% endfor %}
                </ul>

            </div>

            <div class="filter-container col-md-12 ">
                {% for tableau in home %}
                    <div  class="filtr-item" data-category="{{
                    tableau
                    .categorie.id }}"
                         data-sort="value">
                        <div class="card border-primary text-center
                mt-4 m-lg-3 "

                             style="width:18rem;min-height: 300px !important;">
                            <div class="card-header  mt-2"
                                 style="min-height:
                4rem;">{{ tableau.titre |capitalize }}</div>

                            <div class="card-body ">
                                <p class="card-title text-center"><a
                                            href="{{ path('riri',
                                                {slug:tableau.slug}) }}"><img

                                                src="{{ asset
                                                    ('img/tableau/' ~ tableau.image) }}"

                                                alt="" style="height:180px
"/></a></p>
                                <figcaption
                                        class="card-text text-center "> {{ tableau
                                    .Categorie
                                    .name }}, {{ tableau.Technique.name }}
                                    <br>  {{ tableau
                                        .createdAt|date
                                            ('Y') }}</br>
                                </figcaption>
                                {{ tableau.hauteur ~ ' cm X ' }}
                                {{ tableau.largeur ~ ' cm' }}

                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div>


        </div>
    </div>
    <div class="container">
        <div class="align-items-center">
            {{ knp_pagination_render(home) }}
        </div>
    </div>

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.filterizr.min.js') }}"></script>
    <script>
        let filterizd = $('.filter-container').filterizr({
            // options here
        });
    </script>
{% endblock %}
