{% extends 'base.html.twig' %}

{% block title %}about us{% endblock %}

{% block body %}

    <div class="container" style="padding-top: 170px">
        <div class="row align-items-center">
            <div class="col">
                <!-- another image can be inserted here -->
                <img src="{{ asset
                    ('/img/VisitReeks92-DT010782.jpg') }}" alt="..." class="img-fluid"/>
            </div>
            <div class="col">
                <h1 class="text-black-50 text-center">A propose de nous</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tenetur reiciendis in quae, rem corporis id sequi debitis aliquam laudantium illum vel unde? Praesentium laboriosam neque eaque architecto maxime nihil?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tenetur reiciendis in quae, rem corporis id sequi debitis aliquam laudantium illum vel unde? Praesentium laboriosam neque eaque architecto maxime nihil?</p>

            </div>
        </div>
    </div>
{% endblock %}
