{% extends 'base.html.twig' %}

{% block title %}Notre team{% endblock %}

{% block body %}
   <h2 class="text-black-50 text-center" style="padding-top: 100px">Notre
      superbe equipe</h2>
   <div class="container">
      <div class="row">
         <div class="col-md-3 filtr-item" data-category=""
              data-sort="value">
            <div class="card m-3" style="min-height: 300px !important;">
               <div class="card-header bg-light">
                  <h5 class="text-center">Pablo Escobard</h5>
               </div>
               <div class="card-body">
                  <img alt="" src="{{ asset('img/team/010m.jpg')
                  }}">


               </div>
               <div class="card-footer bg-light">
                  <h5 class="text-center">Directeur</h5>
               </div>

            </div>
         </div>
         <div class="col-md-3 filtr-item" data-category=""
              data-sort="value">
            <div class="card m-3" style="min-height: 300px !important;">
               <div class="card-header bg-light">
                  <h5 class="text-center">Isabella bella</h5>
               </div>
               <div class="card-body">
                  <img alt="" src="{{ asset('img/team/015f.jpg')
                  }}">


               </div>
               <div class="card-footer bg-light">
                  <h5 class="text-center">Responsable Gallerie</h5>
               </div>

            </div>
         </div>
         <div class="col-md-3 filtr-item" data-category=""
              data-sort="value">
            <div class="card m-3" style="min-height: 300px !important;">
               <div class="card-header bg-light">
                  <h5 class="text-center">Alberto Martinez</h5>
               </div>
               <div class="card-body">
                  <img alt="" src="{{ asset('img/team/012m.jpg')
                  }}">


               </div>
               <div class="card-footer bg-light">
                  <h5 class="text-center">Historien de l'art</h5>
               </div>

            </div>
         </div>
         <div class="col-md-3 filtr-item" data-category=""
              data-sort="value">
            <div class="card m-3" style="min-height: 300px !important;">
               <div class="card-header bg-light">
                  <h5 class="text-center">Lavie Estbelle</h5>
               </div>
               <div class="card-body">
                  <img alt="" src="{{ asset('img/team/011f.jpg')
                  }}">


               </div>
               <div class="card-footer bg-light">
                  <h5 class="text-center">Disigner</h5>
               </div>

            </div>
         </div>
      </div>


   </div>

{% endblock %}
