a {
    text-decoration:none;
}



.carousel-item {
    transition: transform 5s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: opacity 0s 5s;
}