{% extends 'base.html.twig' %}
{% block body %}
    <main class="container">
        <section id="posts" class="row">
            <table class="table row " style="padding-top:5.7em">

                    <td class="text-center lead"><a href="{{ path('new') }}"
                                                    style="text-decoration: none"><i
                                    class="icofont-ui-add
                                    icofont-2x"></i></a><br>Ajouter un
                        tableau
                    </td>

                </tr>
            </table>
            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}
            <table class="table table-striped mt-lg-5">
                <thead>
                <tr>

                    <th class="text-center ">Titre</th>
                    <th class="text-center ">Creation</th>
                    <th class="text-center">Categorie</th>
                    <th class="text-center">Technique</th>
                    <th class="text-center ">Image</th>
                    <th class="text-center ">Hauteur</th>
                    <th class="text-center ">Largeur</th>
                    <th class="text-center ">Delete</th>
                    <th class="text-center">Edit</th>

                </tr>
                </thead>
                {% for tableau in admin %}

                    <tr>

                        <td class=" align-middle text-center">{{ tableau.titre
                            |capitalize }}</td>
                        <td class=" align-middle text-center">{{ tableau
                            .createdAt|date
                                ('d/m/Y') }}</td>
                        <td class="align-middle text-center"
                        > {{ tableau.Categorie.name }}</td>
                        <td class="align-middle text-center"
                        > {{ tableau.Technique.name }}</td>
                        <td class="text-center align-middle"><img src="{{ asset
                                ('img/tableau/' ~ tableau.image) }}"
                                                                  width="70px"
                                                                  height="40px"/>
                        </td>
                        <td class="align-middle text-center"
                        > {{ tableau.hauteur }}</td>
                        <td class="align-middle text-center"
                        > {{ tableau.largeur }}</td>
                        <td class="align-middle text-center">
                            <p><a href="{{ path('delete', {id:tableau.id}) }}"
                                  style="text-decoration: none"
                                  class="text-danger" onclick="return confirm
                                  ('Etes vous certain de vouloir effacer cela')
"><i
                                            class="icofont-bin"
                                    ></i></a></p>
                        </td>
                        <td class="align-middle text-center">
                            <p><a href="{{ path('edit', {id:tableau.id}) }}"
                                  style="text-decoration: none"><i
                                            class="icofont-ui-edit"
                                            style="color:limegreen"
                                    ></i></a></p>
                        </td>
                    </tr>




                {% endfor %}
            </table>
        </section>

    </main>

{% endblock %}
