{% extends 'base.html.twig' %}
{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 pt-5"style="margin-top: 50px">
                <h2>Ajouter un tableau</h2>
                {{ form(form) }}
            </div>
            <div class="text-center">
                <a href ="{{ path('admin') }}" class="btn btn-info">Retour à
                    l'administration</a>
            </div>
        </div>
    </main>
{% endblock %}