<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gallerie SR{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/icofont.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="icon" href="{{ asset('img/icon.svg') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">


    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{# Navbar #}

{% block navbar %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary
"style="position:fixed;z-index: 100;width: 100%">
        <div class="container-fluid">
            <img class="img-responsive" src="{{ asset
                ('../../img/brandNav.jpg') }} "
                 alt="..." style="height: 45px;width: auto">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('home')
                        }}">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('team') }}">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('about') }}">About
                            us</a>
                    </li>


                </ul>

            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}

{% endblock %}


<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

</body>
</html>
